body {
  background-color: #EEEEEE;
}
.d4ec915b461890000000 {
  width: 1200px;
}
.e02e5e1a01ba40000000 {
  background-color: white;
  margin-top: 5px;
  border-style: ridge;
  border-color: #EEEEEE;
  width: 1340px;
  height: 590px;
}
